<div class="container">
  <a (click)="goToHome()" style='cursor: pointer;'>
    <img [src]="'../assets/img/isa-logo-transparent.png'" alt="isa-logo" width="150" height="150">
  </a>


  <div class='mobile-view'>
    <button mat-mini-fab [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a (click)="goToHome()">
          <h2>HOME</h2>
        </a>
      </button>
      <button mat-menu-item>
        <a (click)="goToAbout()">
          <h2>ABOUT</h2>
        </a>
      </button>
      <button mat-menu-item>
        <a (click)="goToCoaches()">
          <h2>COACHES</h2>
        </a>
      </button>
      <button mat-menu-item>
        <a (click)="goToPrograms()">
          <h2>PROGRAMS</h2>
        </a>
      </button>
    </mat-menu>
  </div>

  <a (click)="goToHome()" class='desktop-view first-header-link'>
    <h2>HOME</h2>
  </a>
  <a (click)="goToAbout()" class='desktop-view header-link'>
    <h2>ABOUT</h2>
  </a>
  <a (click)="goToCoaches()" class='desktop-view header-link'>
    <h2>COACHES</h2>
  </a>
  <a (click)="goToPrograms()" class='desktop-view header-link'>
    <h2>PROGRAMS</h2>
  </a>

  <a href="https://www.instagram.com/islandstarsacademy/" target="_blank" style='cursor: pointer; padding-left: 4rem;'>
    <img src="../../assets/img/icon/instagram-black.svg" alt="isa-instagrm" width="30" height="30">
  </a>
</div>
