<div class="container">
  <a (click)="goToHome()" style='cursor: pointer;'>
    <img [src]="'../assets/img/isa-logo-transparent.png'" alt="isa-logo" width="150" height="150">
  </a>

  <a (click)="goToHome()"  class='desktop-view first-footer-link'>
    HOME
  </a>
  <a (click)="goToAbout()" class='desktop-view footer-link'>
    ABOUT
  </a>
  <a (click)="goToCoaches()" class='desktop-view footer-link'>
    COACHES
  </a>
  <a (click)="goToPrograms()" class='desktop-view footer-link'>
    PROGRAMS
  </a>

  <a href="https://www.instagram.com/islandstarsacademy/" target="_blank" class='footer-link'>
    <img src="../../assets/img/icon/instagram-white.svg" alt="isa-instagrm" width="30" height="30">
  </a>
</div>
  <div style="background-color: #FFD159;">&nbsp;</div>
  <div style="background-color: #000; padding: 1rem; color: #fff;">
    © 2025 Island Stars Academy. All Rights Reserved.
  </div>
