.container {
  background-color: #FFD159;
  height: 150px;

  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box; /* Ensures padding doesn’t increase width */
}

.first-header-link {
  cursor: pointer;
  margin-left: 40%;
  text-align: center;
}

.header-link {
  cursor: pointer;
  margin-left: 5rem;
  text-align: center;
}
