.example-card {
  max-width: 37em;
}

.example-header-image {
  background-image: url('../../../assets/img/isa-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

mat-card-actions {
  display: flex;
  justify-content: center; /* Centers the content horizontally */
}

.desktop-home-view {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: start;
}

.mobile-home-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  gap: 16px; /* Space between cards */
  .mat-card-container {
    width: 20rem;
  }
}

