@use 'src/styles.scss';

.example-card {
  width: calc(33.33% - 16px); /* 3 cards per row with a gap of 16px */
  min-width: 200px; /* Adjust the minimum width to suit your needs */
  box-sizing: border-box;
}

.example-header-image {
  background-image: url('../../assets/img/isa-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  .example-card {
    width: calc(50% - 16px); /* 2 cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .example-card {
    width: 100%; /* 1 card per row on very small screens */
  }
}

.pic-container {
  @extend .horizontal-center-align;
  gap: 16px; /* Spacing between cards */
}
