/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  // font-size: 16px; // Optional: Define a base font size
  // line-height: 1.6; // Optional: Define a base line height
  // color: #333; // Optional: Define a default text color
}

// Example to override specific elements (if needed)
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  // font-weight: 700; // Adjust weight for headings
}

h1 {
  font-size: 3rem;
}

p, ul, strong {
  font-size: 1.2rem;
}

#container {
  padding: 2rem;
}

.mat-mdc-mini-fab {
  background-color: black !important;
}

/* Hide on mobile */
.desktop-view {
  display: none;
}

/* Show on mobile */
.mobile-view {
  display: block;
}

.horizontal-center-align {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // Centers horizontally
}


@media (min-width: 1024px) {
  .desktop-view {
    display: block;
  }

  .mobile-view {
    display: none;
  }
}


.cdk-overlay-backdrop.cdk-overlay-dark-backdrop {
  background: rgba(4, 14, 9, 0.78);
}

.cdk-overlay-backdrop.cdk-overlay-dark-backdrop {
  background: rgba(4, 14, 9, 0.78);

  backdrop-filter: blur(4px);
}
